body{
    /* margin: 0; */
    /* padding: 0; */
    background-image: url('../userPanelImages/indexback.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}